<html>

<head>
    <title>Form Registrasi</title>
    <link rel="stylesheet" href="css_registrasi.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap" rel="stylesheet">
</head>
    <table border="4" bgcolor="A9C5EB" align="center" height="500" width="400" cellpadding="20">
        <tr>
            <td><form action="#">
                <b>
                    <font color="black" size="10"> LOGIN </font>
                </b>
                <p><b> Email </b></p>
                <input type="text" Name="nama" size="46" placeholder="Email Anda">
                <p><b> Kata Sandi </b></p>
                <input type="password" Name="sandi" size="46" placeholder="Kata Sandi Anda"><br>
                
                <br><br>
                <input type="LOGIN" value="LOGIN" style="background-color: #4985D0;" type="submit">
            </form>
            </td>
        </tr>

</body>
</html> 